body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(22, 22, 22);
    

    #Create_Review_Form_For_Reviews_Page{
        min-height: 100vh;
        max-height: fit-content;
        
    }
    main{
        flex: 1;
    }
}