body {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    b {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    main {
        width: 100%;
        background-color: rgb(22, 22, 22);


        .best-of-2024 {
            display: flex;
            justify-content: center;
            min-height: 500px;
            background-color: rgb(12, 12, 12);
            position: relative;
            width: 100%;

            #best-of-2024-header {
                display: flex;
                flex-direction: column;
                top: 30px;
                left: 30px;
                position: absolute;
                z-index: 1000;

                h1 {
                    margin-bottom: 10px;

                    b {
                        color: white;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: bold;
                        font-size: 25px;
                    }
                }

                #vertical-line {
                    width: 180px;
                    height: 5px;
                    border-radius: 5px;
                    background-color: rgb(48, 48, 52, );
                }
            }

            .container {
                background-color: rgb(30, 30, 30);
                padding: 30px;
                max-width: 1600px;
                width: 85%;
                margin-top: 100px;
                margin-bottom: 30px;
            }

            .slider-wrapper {
                position: relative;

            }

            .slider-wrapper .slide-button {
                button {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #fff5;
                    color: #fff;
                    border: none;
                    font-family: monospace;
                    font-weight: bold;
                }

                position: absolute;
                top: 50%;
                outline: none;
                height: 50px;
                width: 50px;
                z-index: 5;
                display: flex;
                cursor: pointer;
                font-size: 1em;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transform: translateY(-50%);
                background-color: rgb(50, 50, 50);
                color: #fff;
                border: none;
                font-family: monospace;
                font-weight: bold;

            }

            .slider-wrapper .slide-button:hover {
                background-color: rgb(100, 100, 100);
            }

            .slider-wrapper .slide-button#prev-slide {
                left: -25px;
                display: none;
            }

            .slider-wrapper .slide-button#next-slide {
                right: -25px;
            }

            .slider-wrapper .image-list {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                gap: 18px;
                font-size: 0;
                list-style: none;
                margin-bottom: 30px;
                overflow-x: auto;
                scrollbar-width: none;
            }

            .slider-wrapper .image-list::-webkit-scrollbar {
                display: none;
            }

            .slider-wrapper .image-list .image-item {
                width: 325px;
                object-fit: cover;
            }

            .container .slider-scrollbar {
                height: 24px;
                width: 100%;
                display: flex;
                align-items: center;
            }

            .slider-scrollbar .scrollbar-track {
                background: #ccc;
                width: 100%;
                height: 2px;
                display: flex;
                align-items: center;
                border-radius: 4px;
                position: relative;
            }

            .slider-scrollbar:hover .scrollbar-track {
                height: 4px;
            }

            .slider-scrollbar .scrollbar-thumb {
                position: absolute;
                background: #000;
                top: 0;
                bottom: 0;
                width: 50%;
                height: 100%;
                cursor: grab;
                border-radius: inherit;
            }

            .slider-scrollbar .scrollbar-thumb:active {
                cursor: grabbing;
                height: 8px;
                top: -2px;
            }

            .slider-scrollbar .scrollbar-thumb::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -10px;
                bottom: -10px;
            }
        }
    }
}